In [ ]:
'''# -*- coding: utf-8 -*-

#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data

#Question 1 How many flights were there from JFK to SLC? Int
q_1 
#Question 2 How many airlines fly to SLC? Should be int
q_2 
#Question 3 What is the average arrival delay for flights to RDU? float
q_3
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
q_4 
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
q_5 
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
q_6 
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
q_7
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
q_8 
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
q_9 
#Question 10 What was the mean for humidity in February? Float
q_10
#Question 11 What was the std for humidity in February? Float
q_11

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
flights_data = pd.read_csv('Assignment Data Cleaning with Pandas/flights.csv')
flights_data.head(10)
print(flights_data)
weather_data_pd = pd.read_csv('Assignment Data Cleaning with Pandas/weather.csv')
weather_data_np = weather_data_pd.to_numpy()
print(weather_data_np)

        Unnamed: 0  year  month  day  dep_time  dep_delay  arr_time  \
0                1  2013      1    1     517.0        2.0     830.0
1                2  2013      1    1     533.0        4.0     850.0
2                3  2013      1    1     542.0        2.0     923.0
3                4  2013      1    1     544.0       -1.0    1004.0
4                5  2013      1    1     554.0       -6.0     812.0
...            ...   ...    ...  ...       ...        ...       ...
336771      336772  2013      9   30       NaN        NaN       NaN
336772      336773  2013      9   30       NaN        NaN       NaN
336773      336774  2013      9   30       NaN        NaN       NaN
336774      336775  2013      9   30       NaN        NaN       NaN
336775      336776  2013      9   30       NaN        NaN       NaN

        arr_delay carrier tailnum  flight origin dest  air_time  distance  \
0            11.0      UA  N14228    1545    EWR  IAH     227.0      1400
1            20.0      UA  N24211    1714    LGA  IAH     227.0      1416
2            33.0      AA  N619AA    1141    JFK  MIA     160.0      1089
3           -18.0      B6  N804JB     725    JFK  BQN     183.0      1576
4           -25.0      DL  N668DN     461    LGA  ATL     116.0       762
...           ...     ...     ...     ...    ...  ...       ...       ...
336771        NaN      9E     NaN    3393    JFK  DCA       NaN       213
336772        NaN      9E     NaN    3525    LGA  SYR       NaN       198
336773        NaN      MQ  N535MQ    3461    LGA  BNA       NaN       764
336774        NaN      MQ  N511MQ    3572    LGA  CLE       NaN       419
336775        NaN      MQ  N839MQ    3531    LGA  RDU       NaN       431

        hour  minute
0        5.0    17.0
1        5.0    33.0
2        5.0    42.0
3        5.0    44.0
4        5.0    54.0
...      ...     ...
336771   NaN     NaN
336772   NaN     NaN
336773   NaN     NaN
336774   NaN     NaN
336775   NaN     NaN

[336776 rows x 17 columns]
[[1 'EWR' 2013 ... 0.0 1013.9 10.0]
 [2 'EWR' 2013 ... 0.0 1013.0 10.0]
 [3 'EWR' 2013 ... 0.0 1012.6 10.0]
 ...
 [8717 'JFK' 2013 ... 0.0 1008.5 10.0]
 [8718 'JFK' 2013 ... 0.0 1023.9 10.0]
 [8719 'LGA' 2013 ... 0.0 1011.9 10.0]]

In [21]:
jfk_to_slc = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')]
number_of_flights = jfk_to_slc['origin'].count()
print(f"Number of flights from JFK to SLC: {number_of_flights}")

Number of flights from JFK to SLC: 2113

In [25]:
to_slc = len(flights_data[flights_data['dest'] == 'SLC']['carrier'].value_counts())
#to_slc = len(flights_data[flights_data['dest'] == 'SLC']['carrier'].unique()) another way to do it using the function unique()

print(to_slc)

2

In [33]:
avg_arr_delay = flights_data[flights_data['dest'] == 'RDU']['arr_delay'].mean()
print("{:.2f}".format(avg_arr_delay), "minutes")

10.05 minutes

In [45]:
# Total number of flights to SEA
total_sea_flights = flights_data[flights_data['dest'] == 'SEA']['dest'].count()

# Number of flights to SEA from LGA or JFK
nyc_to_sea_flights = flights_data[(flights_data['dest'] == 'SEA') & (flights_data['origin'].isin(['LGA', 'JFK']))]['origin'].count()

# Calculate the proportion
q_4 = (nyc_to_sea_flights / total_sea_flights)*100

# Print the result
print("{:.2f}".format(q_4),"%")

53.33 %

In [59]:
#Convert the 'year', 'month', and 'day' columns to a single 'date' column in the preferred format (y/m/d)
flights_data['date'] = pd.to_datetime(flights_data[['year', 'month', 'day']]).dt.strftime('%Y/%m/%d')
#flights_data['date'] = flights_data['year'].astype(str) + '/' + flights_data['month'].astype(str) + '/' + flights_data['day'].astype(str) 
#this is the non efficiente way, pd.to_datetime is very convinient to Convert data into a datetime format. 
#dt.strftime formats a datetime object into a specific string format, often for display or output purposes.

#Calculate the average departure delay by date
avg_dep_delay = flights_data.groupby('date')['dep_delay'].mean()

#Find the date with the largest average departure delay
q_5_date = avg_dep_delay.idxmax()  # Date with largest average departure delay. returns the index
q_5_delay = avg_dep_delay.max()    # Largest average departure delay

q_5_result = pd.DataFrame({'date': [q_5_date], 'avg_dep_delay': [q_5_delay]})
q_5_result

         date  avg_dep_delay
0  2013/03/08      83.536921

In [65]:
q_6ds = flights_data.groupby('date')['arr_delay'].mean()

# Step 2: Find the date with the largest average arrival delay
q_6_date = q_6ds.idxmax()  # Date with largest average arrival delay
q_6_delay = q_6ds.max()    # Largest average arrival delay

# Step 3: Create a DataFrame slice with the date and average arrival delay
q_6_result = pd.DataFrame({'date': [q_6_date], 'avg_arr_delay': [q_6_delay]})

# Output the result
q_6_result

         date  avg_arr_delay
0  2013/03/08      85.862155

In [127]:
q7_ds = flights_data[(flights_data['year'] == 2013) & (flights_data['origin'].isin(['LGA', 'JFK']))]

# speed=(distance / air_time)
q7_ds['speed'] = (q7_ds['distance']) / (q6_ds['air_time'])

# Find the flight with the maximum speed
q_7 = q7_ds.nlargest(1, 'speed')[['tailnum', 'speed']]

# Display the result
q_7

/var/folders/p4/m5vvd2f57zdfzb7ylrq3b36m0000gn/T/ipykernel_45138/963890351.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q7_ds['speed'] = (q7_ds['distance']) / (q6_ds['air_time'])

       tailnum      speed
216447  N666DN  11.723077

In [125]:
q_8 = weather_data_pd.fillna(0)

# Display the DataFrame with NaNs replaced by 0s
print(q_8)

      Unnamed: 0 origin  year  month   day  hour   temp   dewp  humid  \
0              1    EWR  2013    1.0   1.0   0.0  37.04  21.92  53.97
1              2    EWR  2013    1.0   1.0   1.0  37.04  21.92  53.97
2              3    EWR  2013    1.0   1.0   2.0  37.94  21.92  52.09
3              4    EWR  2013    1.0   1.0   3.0  37.94  23.00  54.51
4              5    EWR  2013    1.0   1.0   4.0  37.94  24.08  57.04
...          ...    ...   ...    ...   ...   ...    ...    ...    ...
8714        8715    JFK  2013    9.0   2.0  20.0  75.20  73.40  94.14
8715        8716    JFK  2013   10.0  23.0  10.0  48.92  39.02  68.51
8716        8717    JFK  2013   10.0  23.0  11.0  48.92  39.02  68.51
8717        8718    JFK  2013   12.0  17.0   5.0  26.96  10.94  50.34
8718        8719    LGA  2013    8.0  22.0  22.0  75.92  66.92  73.68

      wind_dir  wind_speed  wind_gust  precip  pressure  visib
0        230.0    10.35702  11.918651     0.0    1013.9   10.0
1        230.0    13.80936  15.891535     0.0    1013.0   10.0
2        230.0    12.65858  14.567241     0.0    1012.6   10.0
3        230.0    13.80936  15.891535     0.0    1012.7   10.0
4        240.0    14.96014  17.215830     0.0    1012.8   10.0
...        ...         ...        ...     ...       ...    ...
8714     200.0     4.60312   5.297178     0.0       0.0    4.0
8715      60.0     4.60312   5.297178     0.0    1008.1   10.0
8716      40.0     4.60312   5.297178     0.0    1008.5   10.0
8717      40.0     4.60312   5.297178     0.0    1023.9   10.0
8718     210.0     8.05546   9.270062     0.0    1011.9   10.0

[8719 rows x 15 columns]

In [115]:
print(weather_data_np)
print(weather_data_pd.head())

[[1 'EWR' 2013 ... 0.0 1013.9 10.0]
 [2 'EWR' 2013 ... 0.0 1013.0 10.0]
 [3 'EWR' 2013 ... 0.0 1012.6 10.0]
 ...
 [8717 'JFK' 2013 ... 0.0 1008.5 10.0]
 [8718 'JFK' 2013 ... 0.0 1023.9 10.0]
 [8719 'LGA' 2013 ... 0.0 1011.9 10.0]]
   Unnamed: 0 origin  year  month  day  hour   temp   dewp  humid  wind_dir  \
0           1    EWR  2013    1.0  1.0   0.0  37.04  21.92  53.97     230.0
1           2    EWR  2013    1.0  1.0   1.0  37.04  21.92  53.97     230.0
2           3    EWR  2013    1.0  1.0   2.0  37.94  21.92  52.09     230.0
3           4    EWR  2013    1.0  1.0   3.0  37.94  23.00  54.51     230.0
4           5    EWR  2013    1.0  1.0   4.0  37.94  24.08  57.04     240.0

   wind_speed  wind_gust  precip  pressure  visib
0    10.35702  11.918651     0.0    1013.9   10.0
1    13.80936  15.891535     0.0    1013.0   10.0
2    12.65858  14.567241     0.0    1012.6   10.0
3    13.80936  15.891535     0.0    1012.7   10.0
4    14.96014  17.215830     0.0    1012.8   10.0

In [123]:
february_observations = weather_data_np[weather_data_np[:, 3] == 2]

# Count the number of rows (observations) in February
q_9 = february_observations.shape[0]

# Display the result
print(q_9)


#february_data = weather_data_pd[weather_data_pd['month'] == 2]
#q_9 = february_data.shape[0]
#print("Question 9:", q_9) (used this code to double check the output)

671

In [145]:
q_10ds = weather_data_np[weather_data_np[:, 3] == 2]

# Calculate the mean for humidity in February, ignoring NaNs (assuming 'humidity' is in column index 5)
q_10 = np.mean(q_10ds[:, 8])

# Display the result
print(q_10)

#february_data_pd = weather_data_pd[weather_data_pd['month'] == 2]
#humidity_mean_february_pd = february_data_pd['humid'].mean()
#print(humidity_mean_february_pd)

62.918152011922515

In [147]:
q_11ds = weather_data_np[weather_data_np[:, 3] == 2]

# Calculate the standard deviation for humidity in February (assuming 'humidity' is in column index 8)
q_11 = np.std(q_11ds[:, 8])

# Display the result
print(q_11)

20.33690087674334